.about-accordion {
    .get-started {
        padding: 0 61px;
        &.active {
            padding: 101px 0 90px 61px;
        }
        h3 {
            margin: 0 0 73px;
            font-size: 33px;
            font-weight: 700;
        }
        .text {
            float: left;
            padding-left: 4px;
            width: 100%;
            max-width: 1000px;
            h4 {
                margin: 0;
                font-size: 22px;
                font-weight: 600;
                strong {
                    margin-right: 16px;
                    color: $orange;
                    font-size: 45px;
                    font-weight: 800;
                }
                &.push {
                    margin: 38px 62px 40px;
                }
            }
            p {
                margin: 14px 0 16px;
                padding-left: 90px;
                line-height: 28px;
                color: $grey;
                font-size: 17px;
            }
            .btn {
                float: left;
                margin: 38px 30px 68px 0;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

@include desktop {
    .about-accordion {
        .get-started {
            h3 {
                margin: 0 0 81px;
                font-size: 33px;
            }
            .text {
                h4 {
                    font-size: 20px;
                }
                p {
                    margin: 10px 0 40px;
                    line-height: 24px;
                    font-size: 15px;
                }
            }
        }
    }
}

@include tablet-l {
    .about-accordion {
        .get-started {
            padding: 0 50px;
            &.active {
                padding: 50px 50px 60px;
            }
        }
    }
}

@include phone {
    .about-accordion {
        .get-started {
            padding: 0 20px;
            &.active {
                padding: 30px 20px;
            }
            h3 {
                margin-bottom: 40px;
            }
            .text {
                p {
                    padding: 0;
                }
                h4.push {
                    margin: 20px 0;
                }
                .btn {
                    margin: 10px 30px 20px 0;
                }
            }
        }
    }
}
