.accordion-gallery {
    margin: 0 5px;
    padding: 5px 0;
    width: calc(100% - 10px);
    .img-item {
        background-color: $white;
        padding: 5px;
        width: 25%;

        img {
            width: 100%;
            height: auto;
            cursor: pointer;
            transition: all ease-in .3s;

            &:hover {
                transform: scale(.9);
                transition: all ease-in .3s;
            }
        }
    }
}

@include phone {
    .accordion-gallery {
        .img-item {
            width: 50%;
        }
    }
}
