.filters {
    position: relative;
    background-color: $lightergrey;
    padding: 0;
    overflow: hidden;
    .filters-btn {
        padding: 22px 20px;
        p {
            display: inline-block;
            margin: 0;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 22px;
            font-weight: 800;
        }
        .fa-chevron-down {
            margin-left: 50px;
            font-size: 20px;
            font-weight: bold;
        }
        .view-all {
            position: absolute;
            top: 20px;
            right: 18px;
            transform: translateX(150%);
            transition: all ease-in .3s;
            .fa-times {
                margin: 0 0 0 12px;
                cursor: pointer;
                vertical-align: -5px;
                font-size: 25px;
                font-weight: 100;
            }
        }
    }
    .filter-dropdown {
        float: left;
        transition: all ease-in .3s;
        width: 100%;
        height: auto;
        max-height: 0;
        ul {
            position: relative;
            float: left;
            margin: 0;
            padding: 0;
            .filter {
                display: inline-block;
                transition: all ease-in .2s;
                margin-bottom: 5px;
                border: 1px solid transparent;
                border-radius: 50px;
                cursor: pointer;
                padding: 12px 30px;
                list-style: none;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 13px;
                font-weight: 800;
                &:hover {
                    transition: all ease-in .2s;
                    color: $orange;
                }
                &.active {
                    transition: all ease-in .2s;
                    border: 1px solid $orange;
                    border-radius: 50px;
                    color: $orange;
                }
            }
        }
        .filter-group {
            margin-bottom: 3px;
            border-right: 1px solid $bordergrey;
            padding: 5px;
            padding-left: 30px;
            &.small {
                width: 400px;
            }
            &.large {
                width: calc(100% - 400px);
            }
            &:last-of-type {
                border-right: 0 solid $bordergrey;
            }
        }
    }
    &.active {
        .filters {
            padding: 0 0 18px;
        }
        .filter-dropdown {
            transition: all ease-in .3s;
            padding-bottom: 17px;
            max-height: 800px;
        }
        .view-all {
            transform: translateX(0);
            transition: all ease-in .3s;
        }
    }
}
