//global-gallery class, section underneath filter dropdown
.global-gallery {
    float: left;
    width: 100%;
    .gallery-grid {
        margin: 7.5px;
        width: calc(100% - 15px);
        h2 {
            font-size: 26px;
            font-weight: 800;
        }
        .stamp {
            position: absolute;
            top: 0;
            left: 0;
            width: 25%;
        }
        .grid-item,
        .vid-item {
            cursor: pointer;
            padding: 7.5px;
            width: 25%;
            img {
                transition: all .2s ease-in;
                width: 100%;
                height: auto;
            }
            .play-video {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                .play-btn {
                    position: relative;
                    float: left;
                    border: 7px solid $white;
                    border-radius: 100%;
                    width: 92px;
                    height: 92px;
                    i {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        margin-left: 3px;
                        color: $white;
                        font-size: 33px;
                    }
                }
            }
            &:hover {
                img {
                    transform: scale(.9);
                    transition: all .2s ease-in;
                }
            }
        }
        .vid-item {
            position: relative;
            width: 100%;
        }
    }
}

@include tablet-l {
    .global-gallery {
        float: none;
        width: 100%;
        .gallery-grid {
            .grid-item,
            .stamp {
                width: 33.33%;
            }
        }
    }
}

@include phone {
    .global-gallery {
        float: none;
        width: 100%;
        .gallery-grid {
            .grid-item,
            .stamp {
                width: 50%;
            }
        }
    }
}
