//global-gallery class, section underneath filter dropdown
.global-gallery {
    float: left;
    padding: 50px 0 15px;
    width: 100%;
    .vid-gallery-heading {
        float: left;
        padding-left: 17px;
        width: 25%;
    }
    .vid-gallery {
        float: left;
        width: 25%;
        h2 {
            font-size: 26px;
            font-weight: 800;
        }
        .vid-item {
            padding: 5px 17px;
            width: 100%;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    .img-gallery-heading {
        float: left;
        padding-left: 5px;
        width: 75%;
        h2 {
            font-weight: 700px;
        }
    }
    .img-gallery {
        float: right;
        //width: 75%;
        margin-right: 7px;
        width: calc(75% - 7px);
        h2 {
            font-size: 26px;
            font-weight: 800;
        }
        .img-item {
            padding: 5px 10px 5px 0;
            width: 33.33%;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    .modal {
        .modal-dialog {
            margin: 0;
            width: 100%;
            max-width: none;
            .modal-content {
                background-color: transparent;
                .modal-body {
                    text-align: center;
                    div {
                        display: inline-block;
                        position: relative;
                        button {
                            position: absolute;
                            top: 10px;
                            right: 20px;
                            opacity: 1;
                            text-shadow: none;
                            color: $orange;
                            font-size: 35px;
                        }
                        img {
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@include tablet-l {
    .global-gallery {
        float: none;
        width: 100%;
        .vid-gallery-heading {
            display: none;
        }
        .img-gallery-heading {
            display: none;
        }
        .vid-gallery {
            float: none;
            width: 100%;
            .vid-item {
                padding: 10px 25px;
                width: 100%;
            }
        }
        .img-gallery {
            float: none;
            width: 100%;
            .img-item {
                padding: 10px 25px;
                width: 100%;
            }
        }
    }
    .global-gallery-filter {
        .filter-dropdown {
            padding: 0 20px;
            .year-filter {
                margin-bottom: 3px;
                border: 0;
                border-bottom: 1px solid $bordergrey;
                padding: 5px;
                width: 100%;
                li {
                    padding: 17px 30px 17px 0;
                }
            }
            .country-filter {
                margin-bottom: 3px;
                border: 0;
                padding: 5px;
                width: 100%;
                li {
                    padding: 17px 30px 17px 0;
                }
            }
        }
    }
}

@include phone {
    .global-gallery {
        padding-top: 30px;
        .vid-gallery {
            .vid-item {
                padding: 5px 20px;
            }
        }
        .img-gallery {
            .img-item {
                padding: 5px 20px;
            }
        }
    }
    .global-gallery-filter {
        .global-gallery-filter-btn {
            .view-all {
                .fa-times {
                    display: none;
                }
            }
        }
        .filter-dropdown {
            ul li {
                padding: 14px 20px;
                font-size: 11px;
            }
        }
    }
}
