//Charities class
.charities {
    margin: 11.5px 10.5px 161px;
    width: calc(100% - 21px);
    .charities-item {
        padding: 11.5px 10.5px 55px;
        width: 25%;
        img {
            width: 100%;
            height: auto;
        }
        h3 {
            margin-bottom: 12px;
            font-weight: 800;
        }
        h4 {
            color: $lightgrey;
            font-size: 19px;
            font-weight: 700;
        }
        h5 {
            color: $lightgrey;
            font-size: 17px;
            font-weight: 200;
        }
    }
    .load-more {
        display: inline-block;
        position: absolute;
        right: 10.5px;
        bottom: -20px;
        left: 10.5px;
        border: 1px solid $lightgrey;
        height: 1px;
        text-align: center;
    }
}

@include tablet-l {
    .charities {
        .charities-item {
            width: 33.33%;
        }
    }
    .charities-filter {
        .filter-dropdown {
            padding: 0 20px;
            .year-filter {
                margin-bottom: 3px;
                border: 0;
                border-bottom: 1px solid $bordergrey;
                padding: 5px;
                width: 100%;
                li {
                    padding: 17px 30px 17px 0;
                }
            }
            .country-filter {
                margin-bottom: 3px;
                border: 0;
                padding: 5px;
                width: 100%;
                li {
                    padding: 17px 30px 17px 0;
                }
            }
        }
    }
}

@include phone {
    .charities {
        .charities-item {
            padding-bottom: 30px;
            width: 100%;
        }
    }
    .charities-filter {
        .charities-filter-btn {
            .view-all {
                .fa-times {
                    display: none;
                }
            }
        }
        .filter-dropdown {
            ul li {
                padding: 14px 20px;
                font-size: 11px;
            }
        }
    }
}
