.single-city {
    background-color: $lightestgrey;
    margin-bottom: 135px;
    .wrapper-thin {
        .row {
            padding: 0px;
            .col-md-5 {
                background-color: $lightestgrey;
                div {
                    text-align: center;
                    h2 {
                        font-weight: 800;
                        font-size: 26px;
                        margin-top: 0;
                        padding-top: 30px;
                        margin-bottom: 28px;
                    }
                    h3 {
                        text-transform: uppercase;
                        font-size: 16px;
                        font-weight: 800;

                    }
                    p {
                        font-size: 16px;
                    }
                    ul {
                        padding: 10px 0 0;
                        li {
                            list-style: none;
                            text-align: center;
                            font-size: 16px;
                            padding-top: 1px;
                        }
                    }
                    a {
                        margin-top: 30px;
                        margin-bottom: 32px;
                        padding: 14px 45px;
                    }
                    .cost {
                        font-size: 18px;
                        font-weight: 200;
                    }
                }
            }

            .col-md-5:first-child {
                div {
                    background-color: $white;
                    position: relative;
                    padding-bottom: 20px;
                    .circle-one {
                        position: absolute;
                        top: 150px;
                        left: -55px;
                        width: 125px;
                        height: 125px;
                        border-radius: 50%;
                        background-color: $black;
                        line-height: 20px;
                        padding: 33px 12px;
                        text-align: center;
                        color: $white;
                    }
                }
            }

            .col-md-5:last-child {
                background-color: $lightestgrey;
                div {
                    border: 2px solid $lightergrey;
                    border-top: 0;
                    border-bottom: 0;
                    padding-bottom: 42px;
                    position: relative;
                    .circle-two {
                        position: absolute;
                        top: 205px;
                        right: -50px;
                        width: 125px;
                        height: 125px;
                        border-radius: 50%;
                        background-color: $orange;
                        line-height: 21px;
                        padding: 31px 12px;
                        text-align: center;
                        color: $white;
                    }
                }
            }
        }
    }

    @include tablet-l {
        .wrapper-thin {
            .row {
                .col-md-5 {
                    div {
                        a {
                            margin-top: 18px;
                            margin-bottom: 20px;
                        }
                    }

                }

                .col-md-5:first-child {
                    div {
                        margin-top: 25px;
                        .circle-one {
                            position: relative;
                            top: inherit;
                            left: inherit;
                            margin: 30px auto 10px;
                        }
                    }
                }

                .col-md-5:last-child {
                    div {
                        margin-top: 25px;
                        margin-bottom: 25px;
                        border: 2px solid $lightergrey;
                        .circle-two {
                            position: relative;
                            top: inherit;
                            right: inherit;
                            margin: 30px auto 0;
                        }
                    }
                }
            }
        }
    }

    @include phone {
        .wrapper-thin {
            .row {
                .col-md-5 {
                    div {
                        h2 {
                            font-size: 24px;
                        }
                        h3 {
                            font-size: 15px;
                        }

                        p {
                            font-size: 15px;
                        }
                        ul {
                            li {
                                font-size: 15px;
                            }
                        }

                        .cost {
                            font-size: 16px;
                        }
                    }

                }
            }
        }
    }
}