.single-city-heading {
    padding: 40px 0 30px;
    color: $white;

    background-position: top;
    background-size: cover;

    .wrapper-thin {

        .title {
            padding: 103px 0 0 7px;
            position: relative;


            h1 {
                font-size: 80px;
                font-weight: 800;
            }
            h2 {
                font-size: 22px;
                font-weight: 200;
                line-height: 28px;
                margin-top: 15px;
            }

            .stats {
                position: absolute;
                right: 0;
                bottom: 0;

                h3 {
                    display: inline-block;
                    padding-right: 60px;
                    font-size: 20px;
                    font-weight: 200;
                    text-transform: uppercase;
                    text-align: right;
                    margin-bottom: 0;

                    strong {
                        font-size: 40px;
                        display: block;
                        font-weight: 700;
                    }
                }
            }
        }
    }
    @include tablet-l {
        .wrapper-thin {
            .title {
                h1 {
                    font-size: 70px;
                }
            }
        }
    }

    @include phone {
        .wrapper-thin {
            .title {
                h1 {
                    font-size: 45px;
                }
                h2 {
                    font-size: 15px;
                    margin-top: 5px;
                }
            }
        }
    }
}

