.partners {
    .race {
        position: relative;
        transition: all ease-in .3s;
        z-index: 1;
        padding-left: 20px;
        width: 100%;
        overflow: hidden;
        &.active {
            transition: all ease-in .3s;
            z-index: 0;
            padding-left: 24%;
            .race-partners {
                transition: opacity ease-in .3s .4s;
                opacity: 1;
                max-height: 9999px;
            }
        }
        .race-title {
            background-color: $white;
            cursor: pointer;
            padding: 75px 5px 65px;
            h2 {
                margin: 0;
                font-size: 44px;
                font-weight: 800;
            }
        }
        .race-partners {
            transition: opacity ease-in .3s 0s;
            opacity: 0;
            padding: 0 20px 0 5px;
            max-height: 0;
            .slide-nav {
                position: absolute;
                top: 160px;
                left: 0;
                margin: 0;
                padding: 10px;
                list-style: none;
                &.fixed {
                    background-color: red;
                }
                li {
                    transition: all ease-in .3s;
                    margin: 0 0 30px;
                    background-color: $white;
                    color: $black;
                    font-size: 18px;
                    font-weight: 800;
                    &.active {
                        transition: all ease-in .3s;
                        color: $offwhite;
                    }
                }
            }
            .slide-nav-section {
                position: relative;
                border-top: 2px solid $lightgrey;
                padding: 60px 20px;
                &.active {
                    h3 {
                        transition: all ease-in .3s;
                        color: $black;
                    }
                }
                h3 {
                    position: absolute;
                    top: -42px;
                    left: 0;
                    transition: all ease-in .3s;
                    background-color: $white;
                    padding: 0 15px 0 2px;
                    color: $lightgrey;
                    font-size: 24px;
                    font-weight: 800;
                    // &:before {
                    //     border-width: 50px 0 50px 200px;
                    //     border-style: solid;
                    //     border-color: transparent transparent transparent #007bff;
                    //     width: 0;
                    //     height: 0;
                    //     content: "";
                    // }
                }
            }
        }
    }
}
