.previous-years {
    position: relative;
    float: left;
    clear: both;
    z-index: 5;
    width: 100%;
    .year {
        position: relative;
        float: left;
        cursor: pointer;
        width: 25%;
        height: 335px;
        overflow: hidden;
        &:hover {
            img {
                transform: translate(-50%, -50%) scale(.9);
                transition: all ease-in .3s;
            }
        }
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all ease-in .3s;
            min-width: 100%;
            min-height: 100%;

            transform-origin: center;
        }
        .text {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 21px 16px;
            color: $white;
            h4 {
                margin: 0 0 20px;
                letter-spacing: 3px;
                font-size: 42px;
                font-weight: 700;
            }
            p {
                margin: 0;
                font-size: 18px;
                font-weight: 600;
            }
        }
    }
}
