.news {
    margin: 11.5px 10.5px 161px;
    width: calc(100% - 21px);
    .grid-sizer {
        width: 25%;
    }
    .news-item {
        position: relative;
        padding: 11.5px 10.5px 55px;
        width: 20%;
        img {
            width: 100%;
            height: auto;
        }
        .date {
            padding: 12px 0 0;
            color: $lightgrey;
            font-size: 13px;
        }
        h3 {
            margin: 14px 0 30px;
            line-height: 35px;
            font-size: 27px;
            font-weight: 800;
        }
        p:not(.date) {
            margin: 0 0 30px;
            line-height: 25px;
            color: $grey;
            font-size: 17px;
        }
        ul {
            margin: 0 0 19px;
            padding: 0;
            &:empty {
                padding: 2px 0;
            }
            li {
                display: inline-block;
                margin: 10px 0 15px;
                margin: 0 7px 0 0;
                border-radius: 3px;
                background-color: $orange;
                padding: 3px 8px;
                list-style: none;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: $white;
                font-size: 10px;
                font-weight: 600;
            }
        }
    }
    .load-more {
        display: inline-block;
        position: absolute;
        right: 10.5px;
        bottom: -20px;
        left: 10.5px;
        border: 1px solid $lightgrey;
        height: 1px;
        text-align: center;
    }
}

@include desktop {
    .news {
        .grid-sizer {
            width: 33.33%;
        }
        .news-item {
            width: 33.33%;
            p:not(.date) {
                line-height: 20px;
                font-size: 15px;
            }
        }
    }
}

@include tablet-p {
    .news {
        .grid-sizer {
            width: 50%;
        }
        .news-item {
            width: 50%;
            p:not(.date) {
                line-height: 20px;
                font-size: 15px;
            }
        }
    }
}

@include phone {
    .news {
        .grid-sizer {
            width: 100%;
        }
        .news-item {
            width: 100%;
        }
    }
    .news-filter {
        .filter-btn {
            .view-all {
                .fa-times {
                    display: none;
                }
            }
        }
        .filter-dropdown {
            ul li {
                padding: 14px 20px;
                font-size: 11px;
            }
        }
    }
}
