.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    background-color: transparent;
    width: 100%;
    transition: all ease-in .2s ;
    padding-bottom: 15px;

    &.fixed-header {
        background-color: $black;
        transition: all ease-in .3s .4s;

        .logo {
            width: 90px;
            transition: all ease-in .2s .3s;
        }

        .nav {
            margin: 14px 0 0 180px;
            transition: all ease-in .2s .3s;
        }
        .header-bg {
            background-color: $black;
            transition: all ease-in .2s .3s;
        }

    }

    .header-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
        transition: all ease-in .2s .3s;
        z-index: 2;
    }

    .logo {
        position: fixed;
        top: 12px;
        left: 18px;
        z-index: 9;
        width: 150px;
        height: auto;
        transition: all ease-in .2s .5s;
        svg {
            width: 100%;
            height: 100%;
        }
    }

    .menu-btn {
        display: none;
    }

    .nav {
        position: relative;
        float: left;
        margin: 14px 0 0 228px;
        transition: all ease-in .2s .5s;
        padding: 0;
        z-index: 3;

        li {
            display: inline-block;
            position: relative;
            z-index: 1;
            a {
                margin-right: 33px;
                padding: 10px 0;
                text-transform: capitalize;
                color: $white;
                font-size: 16px;
                &:hover,
                &:active,
                &:focus,
                &:visited {
                    background-color: transparent;
                }
            }
            //if has child show triangle
            &.has-child:after {
                position: absolute;
                top: 137%;
                left: calc(50% - 15px);
                transform: translateX(-50%);
                transition: all ease-in .3s .1s;
                z-index: 4;
                border-width: 0 7.5px 0 7.5px;
                border-style: solid;
                border-color: $orange transparent transparent transparent;
                width: 0;
                height: 0;
                content: "";
            }
            .locations {
                position: fixed;
                top: 69px;
                left: 0;
                float: left;
                z-index: 2;
                padding: 0;
                width: 100%;
                overflow: hidden;

                pointer-events: none;
                .locations-wrapper {
                    float: left;
                    transform: translateY(-100%);
                    transition: all ease-in .3s;
                    background: $white;
                    padding: 10px 100px;
                    width: 100%;
                }
                li {
                    float: left;
                    width: 20%;
                    a {
                        display: block;
                        text-align: center;
                        img {
                            transform: scale(1);
                            transition: all ease-in .3s .2s;
                            width: 100%;
                            height: auto;
                        }
                        .location {
                            transform: translateY(0);
                            transition: all ease-in .3s .2s;
                            margin-top: -15px;
                            height: 45px;
                            text-transform: uppercase;
                            color: $black;
                            font-size: 20px;
                            font-weight: 900;
                            .time {
                                display: block;
                                width: 100%;
                                text-transform: uppercase;
                                line-height: 14px;
                                color: $orange;
                                font-size: 14px;
                                font-weight: 700;
                            }
                        }
                    }
                    &:hover {
                        .location {
                            transform: translateY(-10px);
                            transition: all ease-in .3s .2s;
                        }
                        img {
                            transform: scale(.9);
                            transition: all ease-in .3s .2s;
                        }
                    }
                }
            }
            &:hover {
                &.has-child:after {
                    transition: all ease-in .3s .5s;
                    border-width: 10px 7.5px 0 7.5px;
                }
                .locations-wrapper {
                    transform: translateY(0px);
                    transition: all ease-in .3s .6s;

                    pointer-events: all;
                }
            }
        }
    }
    .header-account {
        position: fixed;
        top: 16px;
        right: 63px;
        margin: 0;
        padding-top: 5px;
        z-index: 3;
        a {
            display: block;
            position: relative;
            cursor: pointer;
            padding: 5px 23px;
            text-decoration: none;
            color: $white;
            font-size: 16px;
            background-color: $orange;
            border-radius: 15px;
            text-transform: uppercase;
        }
    }
}

.cta-fixed {
    .header {
        background-color: $black;
        transition: all ease-in .3s;
        .header-wrapper {
            background-color: $black;
            transition: all ease-in .3s;
        }
    }
}

@include desktop {
    .header {
        .nav {
            li {
                a {
                    font-size: 14px;
                }
                .locations {
                    //top: 40px;
                }
            }
        }
        .header-account {
            a {
                font-size: 14px;
            }
        }
    }
}

@include tablet-l {
    .header {
        padding-top: 14px;
        padding-bottom: 10px;
        transition: all .3s .6s ease-in-out;

        .nav {
            margin: 0!important;
            padding: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.9);
            position: absolute;
            top: 100%;
            height: auto;
            max-height: 0;
            overflow: hidden;
            z-index: 5;

            li .locations {
                display: block;
                position: relative;
                top: 0;
                float: none;
                height: auto;
                max-height: 0;
                transition: all ease-in .3s;
                li {
                    display: block;
                    width: 100%;
                    float: none;
                    max-width: 400px;
                    margin: 0 auto;
                }

                .locations-wrapper {
                    padding: 10px 20px 0;
                    transform: none !important;
                }
            }
            li {
                display: block;

                &.has-child {
                    &:after {
                        display: none;
                    }
                    &.active {
                        .locations {
                            max-height: 2000px;
                            transition: all ease-in .3s;
                            padding: 0;
                        }
                    }
                }

                a {
                    display: block;
                    padding: 13px 18px;
                    margin: 0;
                    color: $white;
                    font-size: 22px;
                    text-align: center;
                }
            }
        }

        .header-account {
            display: none;
        }

        .header-bg {
            display: none;
        }

        .menu-btn {
            display: block;
            cursor: pointer;
            position: relative;
            float: right;
            margin: 6px 15px 0 0;
            transform: rotate(0deg);
            transition: .5s ease-in-out;

            span {
                position: absolute;
                display: block;
                height: 5px;
                width: 42px;
                right: 0;
                background-color: $orange;
                margin: 0 5px 10px 0;

                opacity: 1;
                transform: rotate(0deg);
                transform-origin: center;
                transition: transform .25s ease-in-out, top .25s .25s ease-in-out, opacity .25s .4s ease-in-out;
            }

            span:nth-child(1) {
                top: 0px;
            }
            span:nth-child(2) {
                top: 15px;
            }
            span:nth-child(3) {
                top: 30px;
            }

        }

        .logo {
            position: relative;
            float: left;
            width: 90px;
            top: 0;
        }
    }

    .menu-open {
        cursor: pointer;
        .header {
            background-color: $black;
            transition: all .3s 0s ease-in-out;

            .nav {
                padding: 13px 0 80px;
                max-height: calc(100vh - 74px);
                overflow-y: scroll;
                overflow-x: hidden;
                -webkit-overflow-scrolling: touch;
            }
        }

        .menu-btn {
            span {
                transition: opacity .25s ease-in-out, top .25s ease-in-out, transform .25s .25s ease-in-out;
            }

            span:nth-child(1) {
                top: 15px;
                transform: rotate(135deg);
            }
            span:nth-child(2) {
                opacity: 0;
            }
            span:nth-child(3) {
                top: 15px;
                transform: rotate(-135deg);
            }
        }
    }
}

