/* Colours */
$orange: #f16f3b;
$lightorange: #FD9A6F;
$black: #000;
$white: #fff;
$offwhite: #f7f7f7;
$lightergrey: #ededed;
$lightgrey: #b0b0b0;
$lightestgrey: #f7f7f7;
$bordergrey: #d2d2d2;
$grey: #6d6d6d;
$darkgrey: #515151;
$darkergrey: #777;
$green: #91d798;
$red: #fc6769;



/* Fonts */
$bodyFont: 'Muli', sans-serif;
